/* Desktop - 1 */

position: relative;
width: 1080px;
height: 1920px;

background: #E8EFF4;


/* Welcome to Opportunity */

position: absolute;
width: 764px;
height: 75px;
left: 60px;
top: 69px;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 62px;
line-height: 75px;
/* identical to box height */

color: #323D4A;



/* 08.08.2021 */

position: absolute;
width: 335px;
height: 75px;
left: 60px;
top: 165px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 62px;
line-height: 75px;
/* identical to box height */

color: #9AA7B1;



/* Entry Item */

position: absolute;
width: 919px;
height: 182px;
left: 60px;
top: 276px;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: -4.46%;
top: 0%;
bottom: 0%;

background: #0F05A0;


/* 14.00 Uhr Basisbeschäftigung Besuch Interessierte für den zweiten Kurs werden uns besuchen */

position: absolute;
left: 4.35%;
right: 13.49%;
top: 20.33%;
bottom: 20.33%;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 36px;
/* or 129% */

color: #EB5E00;



/* Entry Item */

position: absolute;
width: 919px;
height: 182px;
left: 60px;
top: 498px;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: -4.46%;
top: 0%;
bottom: 0%;

background: #0F05A0;


/* 14.00 Uhr Basisbeschäftigung Besuch Interessierte für den zweiten Kurs werden uns besuchen */

position: absolute;
left: 4.35%;
right: 13.49%;
top: 20.33%;
bottom: 20.33%;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 36px;
/* or 129% */

color: #EB5E00;



/* Entry Item */

position: absolute;
width: 919px;
height: 182px;
left: 60px;
top: 720px;



/* Rectangle 1 */

position: absolute;
left: 0%;
right: -4.46%;
top: 0%;
bottom: 0%;

background: #0F05A0;


/* 14.00 Uhr Basisbeschäftigung Besuch Interessierte für den zweiten Kurs werden uns besuchen */

position: absolute;
left: 4.35%;
right: 13.49%;
top: 20.33%;
bottom: 20.33%;

font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 36px;
/* or 129% */

color: #EB5E00;



/* Group 1 */

position: absolute;
width: 1080px;
height: 130px;
left: 0px;
top: 1790px;



/* Rectangle 2 */

position: absolute;
width: 1080px;
height: 130px;
left: 0px;
top: 1790px;

background: #FFFFFF;


/* SAG_Logo_De 1 */

position: absolute;
width: 273px;
height: 52px;
left: 767px;
top: 1829px;

background: url(SAG_Logo_De.png);


/* logo_stzh_sd_rgb_blau_digital 1 */

position: absolute;
width: 230px;
height: 44px;
left: 40px;
top: 1833px;

background: url(logo_stzh_sd_rgb_blau_digital.png);


/* opportunity 1 */

position: absolute;
width: 296px;
height: 55px;
left: 392px;
top: 1828px;

background: url(opportunity.jpg);
